AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule (.*) https://playlistmessage.com%{REQUEST_URI} [L,R=301,NC]

RewriteCond %{HTTP_HOST} ^www.playlistmessage.com [NC]
RewriteRule (.*) https://playlistmessage.com%{REQUEST_URI} [L,R=301,NC]