body {
  font-family: 'Catamaran', "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
}

.title {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 5rem;
}

.sm_container {
}

.header, .btn {
  background-color: #62838E;
  -webkit-font-smoothing:antialiased;
}

.sm_section {
  margin: 0 auto;
  padding: 1rem;
}

textarea, select, input, .btn {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

textarea, select, input {
  border-color: #9CA7B3;
  margin-bottom: 1rem;
  padding: 5px 10px;
}

button[disabled], input[disabled] {
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.btn {
  padding: 13px 5px;
  margin-bottom: 1rem;
  border: 3px solid #62838E;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
}

.btn:enabled:hover {
  background-color: #fff;
  color: #62838E;
  cursor: pointer;
}

.arrow {
  position: relative;
  display: block;
  padding-left: 1rem;
}

.arrow:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-right: 0.3rem solid #62838E;
  border-top: 0.3rem solid #62838E;
  transform: rotate(135deg);
  bottom: 0;
  top: 10px;
  left: 43%;
}

.list-group {
  padding: 0;
  margin: 0 0 1rem;
}

.list-group-item {
  list-style-type: none;
}

.list-group-item-warning {
  color: #C12C2C;
}

.list-group-item-success {
  color: #42903E;
}

@media screen and (min-device-width: 800px) {
  .sm_section {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .arrow:after {
    left: 46%;
  }
}
